<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="height: 100%">
<script> 
    $(function(){
      $("#header").load("header.html"); 
    });
    </script> 
    <div id="header"></div>
  <form method="POST" action="/CreateNewEvent">
  <div class="flex-container-event-column">
        <div class="flex-item-selected-event">
          <h3><b>Event Name</b></h3>
          <input type="text" name="name" id="name"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Description</b></h3>
          <input type="text" name="description"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Client</b></h3>
          <input type="text" name="client"></input>
        </div>
                <div class="flex-item-selected-event">
          <h3><b>Process Facilitator</b></h3>
          <select id="pf" name="pf">
            <% if(pf.length){ 
              for(var i = 0;i < pf.length;i++) { %>
              <option name="pf" value="<%=pf[i].ID%>"><%=pf[i].forename%> <%=pf[i].surname%></option>
            <% }}%>
          </select>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Co Facilitator</b></h3>
          <select id="cf" name="cofac">
            <% if(cf.length){ 
              for(var i = 0;i < cf.length;i++) { %>
              <option name="cofac" value="<%=cf[i].ID%>"><%=cf[i].forename%> <%=cf[i].surname%></option>
            <% }}%>
          </select>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Facilitator</b></h3>
          <select id="f" name="fac">
            <% if(f.length){ 
              for(var i = 0;i < f.length;i++) { %>
              <option name="fac" value="<%=f[i].ID%>"><%=f[i].forename%> <%=f[i].surname%></option>
            <% }}%>
          </select>        
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Co-Designer's</b></h3>
            <% if(cd.length){ 
              for(var i = 0;i < cd.length;i++) { %>
              <input type="checkbox" name="CoDesigner" value="<%=cd[i].ID%>">
              <label for="<%=cd[i].forename%> <%=cd[i].surname%>"><%=cd[i].forename%> <%=cd[i].surname%></label><br>
            <% }}%>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Status</b></h3>
          <select id="event_status" name="event_status">
            <option value="Past">Past</option>
            <option value="Current">Current</option>
            <option value="Upcoming">Upcoming</option>
          </select>
        </div>
        <div class="flex-item-selected-event" >
          <input class="select-event" type="submit" value="Create">
        </div>
  </div>
</form>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>
