<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
    <li><a href="#feedback">Feedback</a></li>
    <div class="menu_dropdown">
    <button class="dropbtn">
      <li><a class="active" href="#events">Events</a></li>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/PastEvents">Past Events</a>
      <a href="/CurrentEvent">Current Event</a>
      <a href="/UpcomingEvents">Upcoming Events</a>
    </div>
  </div> 

  <li class="right"><a href="#Messages">Messages</a></li>
  <li class="right"><a href="#Encyclopedia">Encyclopedia</a></li>
  <li class="right"><a href="/logout">Logout</a></li>
</ul>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
 <div class="menu_and_event">
    <div class="flex-event-selected-details">
      <% if(event.length){ %>
        <div class="flex-event-selected-item" >
          <h3>Event Name</h3>
          </div>
          <div class="flex-event-selected-item" >
          <p><%=event[0].event_name%></p>
        </div>
       <div class="flex-event-selected-item">
          <h3>Event Description</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=event[0].event_description%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Event Client</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=event[0].event_client%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Process Facilitator</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=event[0].event_pf%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Co Facilitator</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=event[0].event_cofac%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Facilitator</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=event[0].event_fac%></p>
        </div> 
 <% }else{ %>
    <div class="flex-event-selected-item">No Events to Display</div>
  <% } %>
</div>
      <div class="flex-event-selected-job">
          <h3>Job Jar</h3>
          <form>
            <button class="job">Assigned to me</button>
            <button class="job">All Tasks</button>
          </form>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#new" style="width:100%"><p class="task_text">New Task</p></button><br>
          </div>
          <div class="flex-event-selected-item" >
            <div id="new" class="collapse" style="width:100%">
              <div class="newTask">
                <form action="/newTask" method="POST">
                  <input type="text" name="task_name">
                  <input type="submit" class="select-event">
                </form>
              </div>
            </div>
          </div>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#todo" style="width:100%"><p class="task_text">To Do</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="todo" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "To Do") { %>
                    <div class="task" style="display:flex">
                      <p style="float:left; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b>  <%=tasks[i].task_name%></p>
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                  <% } } %>
                    </div>
                </div>
              <% } %>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#inprogress" style="width:100%"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="in-progress.png"><p class="task_text">In Progress</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="inprogress" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "In Progress") { %>
                    <div class="task" style="display: flex">
                      <form id="saveTask" class="icon" method="POST" action="/saveTask" style="width:33.33%">
                        <img id="<%=tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png" onclick="editTask()">
                        <input type="image" id="<%=tasks[i].task_id%>_save_icon" alt="Save" form="saveTask" class="icons" style="float:left" src="complete.png" hidden>
                        <script>
                          function editTask() {
                            document.getElementById("<%=tasks[i].task_id%>_task_name_text").hidden = true;
                            document.getElementById("<%=tasks[i].task_id%>_task_name_edit").type = "text";
                            document.getElementById("<%=tasks[i].task_id%>_edit_icon").hidden = true;
                            document.getElementById("<%=tasks[i].task_id%>_save_icon").hidden = false;
                          }
                        </script>
                        <p id="<%=tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                        <input type="hidden" name="task_name" id="<%=tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=tasks[i].task_name%>">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                      </form>
                      <p id="task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                      <div style="width:33.33%">
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      </div>                    
                    </div>
                  <% } } %>
                    </div>
                </div>
          <% } %>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#inreview" style="width:100%"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="review.png"><p class="task_text">In Review</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="inreview" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "Review") { %>
                    <div class="task" style="display:flex">
                      <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                      <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                      <div style="width:33.33%">
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                    </div>
                </div>
          <% } %>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#complete" style="width:100%"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="complete.png"><p class="task_text">Complete</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="complete" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "Complete") { %>
                    <div class="task" style="display:flex">
                       <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                      <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                      <div style="width:33.33%">
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                    </div>
                </div>
          <% } %>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#blocked" style="width:100%"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="block.png"><p class="task_text">Blocked</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="blocked" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "Blocked") { %>
                    <div class="task" style="display:flex">
                      <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                      <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                      <div style="width:33.33%">
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                    </div>
                </div>
          <% } %>
      </div>
    </div>
     <div class="menu_and_event">
      <div class="flex-event-selected-fotd">
        <div class="flex-event-selected-item">
          <h3>Flow of The Day</h3>
        </div>
      </div>
      <div class="flex-event-selected-notes">
        <div class="flex-event-selected-item">
          <h3>Notes/Other</h3>
        </div>
        <% if(info.length){ %>
        <div class="flex-event-selected-item">
          <form method="POST" action="/saveNotes" id="add_notes" style="width: 90%">
            <input type="hidden" name="request_type" value="UPDATE"></input>
            <input type="hidden" name="info_id" value="<%=info[0].info_id%>"></input>
            <input type="hidden" name="event_id" value="<%=info[0].event_id%>"></input>
            <input type="hidden" name="member_id" value="<%=info[0].member_id%>"></input>
            <textarea name="event_notes" form="add_notes" value="<%=info[0].event_notes%>" class="notes"><%=info[0].event_notes%></textarea>
            <br><br>
            <input type="submit" class="select-event" value="Save"></input>
          </form>
        </div>
          <% 
     }else{ %>
        <div class="flex-event-selected-item">
          <form method="POST" action="/saveNotes" id="add_notes" style="width: 90%">
            <input type="hidden" name="request_type" value="INSERT"></input>
            <input type="hidden" name="event_id" value="<%=event[0].event_id%>"></input>
            <textarea name="event_notes" form="add_notes" class="notes"></textarea>
            <br><br>
            <input type="submit" class="select-event" value="Save"></input>
          </form>
        </div>
      <% } %>
      </div>
    </div>
  </div>
</div>
 <div style="display: none">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</body>
</html>