<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="height: 100%">
<script> 
    $(function(){
      $("#header").load("header.html", function() {
        document.getElementById("current").style = "border-bottom: 3px solid #0070AD;";
      }); 
    });
  </script>
    <div id="header"></div>
  <div class="menu_and_event">
    <div class="flex-event-selected-details">
    <% if(event.length){ %>
      <div class="flex-event-selected-item" >
        <h3>Event Name</h3>
      </div>
      <div class="flex-event-selected-item" >
        <p><%=event[0].event_name%></p>
      </div>
      <div class="flex-event-selected-item" >
        <h3>Start Date</h3>
      </div>
      <div class="flex-event-selected-item" >
        <p><%=event[0].event_start_date%></p>
      </div>
      <div class="flex-event-selected-item" >
        <h3>End Date</h3>
      </div>
      <div class="flex-event-selected-item" >
        <p><%=event[0].event_end_date%></p>
      </div>
      <div class="flex-event-selected-item">
        <h3>Event Description</h3>
      </div>
      <div class="flex-event-selected-item">
        <p><%=event[0].event_description%></p>
      </div>
      <div class="flex-event-selected-item">
        <h3>Event Client</h3>
      </div>
      <div class="flex-event-selected-item">
        <p><%=event[0].event_client%></p>
      </div>
      <div class="flex-event-selected-item">
        <h3>Process Facilitator</h3>
      </div>
      <div class="flex-event-selected-item">
        <p><%=event[0].event_pf%></p>
      </div>
      <div class="flex-event-selected-item">
        <h3>Co Facilitator</h3>
      </div>
      <div class="flex-event-selected-item">
        <p><%=event[0].event_cofac%></p>
      </div>
      <div class="flex-event-selected-item">
        <h3>Facilitator</h3>
      </div>
      <div class="flex-event-selected-item">
        <p><%=event[0].event_fac%></p>
      </div>
      <% if(role === "Co-Designer") { %>
        <input id="edit" type="submit" value="Edit" hidden> 
       <% } else { %>
        <form method="POST" action="/EditSelectedEvent">
          <input type = "hidden" name = "status" value = "<%=event[0].event_status%>" />
          <input type = "hidden" name = "selected" value = "<%=event[0].event_id%>" />
          <div class="flex-item-event" >
            <input class="select-event" id="edit" type="submit" value="Edit"> 
          </div>
        </form>
        <% } %>
      <% }else{ %>
        <div class="flex-event-selected-item">No Events to Display</div>
      <% } %>
    </div>
    <div class="flex-event-selected-job">
      <h3>Job Jar</h3>
          <button id="allTasksButton" class="select-event">All Tasks</button>
          <button id="myTasksButton" class="select-event" hidden>Assigned to me</button>
          <script type="text/javascript">
            document.getElementById("allTasksButton").onclick = function () {
              document.getElementById("allTasksToDo").hidden = false;
              document.getElementById("allTasksInProgress").hidden = false;
              document.getElementById("allTasksReview").hidden = false;
              document.getElementById("allTasksComplete").hidden = false;
              document.getElementById("allTasksBlocked").hidden = false;

              document.getElementById("myTasksToDo").hidden = true;
              document.getElementById("myTasksInProgress").hidden = true;
              document.getElementById("myTasksReview").hidden = true;
              document.getElementById("myTasksComplete").hidden = true;
              document.getElementById("myTasksBlocked").hidden = true;

              document.getElementById("myTasksButton").hidden = false;
              document.getElementById("allTasksButton").hidden = true;
            };
            document.getElementById("myTasksButton").onclick = function () {
              document.getElementById("allTasksToDo").hidden = true;
              document.getElementById("allTasksInProgress").hidden = true;
              document.getElementById("allTasksReview").hidden = true;
              document.getElementById("allTasksComplete").hidden = true;
              document.getElementById("allTasksBlocked").hidden = true;

              document.getElementById("myTasksToDo").hidden = false;
              document.getElementById("myTasksInProgress").hidden = false;
              document.getElementById("myTasksReview").hidden = false;
              document.getElementById("myTasksComplete").hidden = false;
              document.getElementById("myTasksBlocked").hidden = false;
              document.getElementById("myTasksButton").hidden = false;

              document.getElementById("myTasksButton").hidden = true;
              document.getElementById("allTasksButton").hidden = false;
            };
          </script>     
        <div class="flex-event-selected-item" >
          <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#new" style="width:100%; background-color: #fff; border-color: none;"><p class="task_text">New Task</p></button><br>
        </div>
        <div class="flex-event-selected-item" >
          <div id="new" class="collapse" style="width:100%">
            <div class="newTask">
              <form action="/newTask" method="POST">
                <p>Task Name</p>
                <input type="text" name="task_name" style="padding: 0 0 0 0; width: 50%">
                <p>Assigned to:</p>
                <select id="team_member" name="team_member" style="text-align:center; width:50%; margin: 10px 0 10px 0px; padding: 0 0 0 0;">
                  <% if(team.length){ 
                    for(var l = 0;l < team.length;l++) { %>
                      <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                  <% }}%>
                </select>
                <% if(event.length){ %>
                <input type = "hidden" name = "event_id" value = "<%=event[0].event_id%>" style="padding: 0 0 0 0; width: 50%"/>
                <% } %>
                <input type="submit" class="select-event" style="padding: 0 0 0 0; width: 50%"> 
              </form>
            </div>
          </div>
        </div>
        <div class="flex-event-selected-item" >
          <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#todo" style="width:100%; background-color: #fff; border-color: none;"><p class="task_text">To Do</p></button><br>
        </div>
        <% if(tasks.length){ %>
          <div class="flex-event-selected-item" >
            <div id="todo" class="collapse" style="width:100%">
              <div class="task" style="display:flex">
                <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
              </div>
              <div id="myTasksToDo">
              <% for(var i = 0;i < tasks.length;i++) { %>
                <% if(tasks[i].task_status === "To Do") { %>
                  <div class="task" style="display:flex">
                    <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                      <img id="<%=tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                      <input type="image" id="<%=tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                      <script>
                        document.getElementById("<%=tasks[i].task_id%>_edit_icon").onclick = function () {
                          document.getElementById("<%=tasks[i].task_id%>_task_name_text").hidden = true;
                          document.getElementById("<%=tasks[i].task_id%>_task_name_edit").type = "text";
                          document.getElementById("<%=tasks[i].task_id%>_edit_icon").hidden = true;
                          document.getElementById("<%=tasks[i].task_id%>_save_icon").hidden = false;
                          document.getElementById("<%=tasks[i].task_id%>_assigned").hidden = false;
                          document.getElementById("<%=tasks[i].task_id%>_task_name_assigned").hidden = true;
                        };
                      </script>
                      <p id="<%=tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                      <input type="hidden" name="task_name" id="<%=tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=tasks[i].task_name%>">
                      <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                      <p id="<%=tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                      <select id="<%=tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                        <% if(team.length){ 
                          for(var l = 0;l < team.length;l++) { %>
                            <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                        <% }}%>
                      </select> 
                    </form>
                    <div style="width:33.33%">
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                  </div>
                <% } } %>
              </div>
              <div id="allTasksToDo" hidden>
              <% for(var i = 0;i < all_tasks.length;i++) { %>
                <% if(all_tasks[i].task_status === "To Do") { %>
                  <div class="task" style="display:flex">
                    <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                      <img id="<%=all_tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                      <input type="image" id="<%=all_tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                      <script>
                        document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").onclick = function () {
                          document.getElementById("<%=all_tasks[i].task_id%>_task_name_text").hidden = true;
                          document.getElementById("<%=all_tasks[i].task_id%>_task_name_edit").type = "text";
                          document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").hidden = true;
                          document.getElementById("<%=all_tasks[i].task_id%>_save_icon").hidden = false;
                          document.getElementById("<%=all_tasks[i].task_id%>_assigned").hidden = false;
                          document.getElementById("<%=all_tasks[i].task_id%>_task_name_assigned").hidden = true;
                        };
                      </script>
                      <p id="<%=all_tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=all_tasks[i].task_name%></p>
                      <input type="hidden" name="task_name" id="<%=all_tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=all_tasks[i].task_name%>">
                      <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                      <p id="<%=all_tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=all_tasks[i].forename%></b></p>
                      <select id="<%=all_tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                        <% if(team.length){ 
                          for(var l = 0;l < team.length;l++) { %>
                            <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                        <% }}%>
                      </select> 
                    </form>
                    <div style="width:33.33%">
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                  </div>
                <% } } %>
              </div>
            </div>
          </div>
        <% } %>
        <div class="flex-event-selected-item" >
          <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#inprogress" style="width:100%; background-color: #fff; border-color: none;"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="in-progress_black.png"><p class="task_text">In Progress</p></button><br>
        </div>
        <% if(tasks.length){ %>
          <div class="flex-event-selected-item" >
            <div id="inprogress" class="collapse" style="width:100%">
              <div class="task" style="display:flex">
                <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
            </div>
            <div id="myTasksInProgress">
            <% for(var i = 0;i < tasks.length;i++) { %>
              <% if(tasks[i].task_status === "In Progress") { %>
                <div class="task" style="display: flex">
                  <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                    <p id="<%=tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                    <select id="<%=tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                  <div style="width:33.33%">
                    <form class="icon" action="/complete" method="POST">
                      <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                      <input type="image" alt="Complete Task" class="icons" src="complete.png">
                    </form>
                    <form class="icon" action="/review" method="POST">
                      <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                      <input type="image" alt="Review Task" class="icons" src="review.png">
                    </form>
                    <form class="icon" action="/block" method="POST">
                      <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                      <input type="image" alt="Block Task" class="icons" src="block.png">
                    </form>
                  </div>                    
                </div>
              <% } } %>
            </div>
            <div id="allTasksInProgress" hidden>
            <% for(var i = 0;i < all_tasks.length;i++) { %>
              <% if(all_tasks[i].task_status === "In Progress") { %>
                <div class="task" style="display: flex">
                  <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=all_tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=all_tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=all_tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=all_tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=all_tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=all_tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                    <p id="<%=all_tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=all_tasks[i].forename%></b></p>
                    <select id="<%=all_tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                  <div style="width:33.33%">
                    <form class="icon" action="/complete" method="POST">
                      <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                      <input type="image" alt="Complete Task" class="icons" src="complete.png">
                    </form>
                    <form class="icon" action="/review" method="POST">
                      <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                      <input type="image" alt="Review Task" class="icons" src="review.png">
                    </form>
                    <form class="icon" action="/block" method="POST">
                      <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                      <input type="image" alt="Block Task" class="icons" src="block.png">
                    </form>
                  </div>                    
                </div>
              <% } } %>
            </div>
            </div>
          </div>
        <% } %>
        <div class="flex-event-selected-item" >
          <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#inreview" style="width:100%; background-color: #fff; border-color: none;"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="review_black.png"><p class="task_text">In Review</p></button><br>
        </div>
        <% if(tasks.length){ %>
          <div class="flex-event-selected-item" >
            <div id="inreview" class="collapse" style="width:100%">
              <div class="task" style="display:flex">
                <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
              </div>
              <div id="myTasksReview">
              <% for(var i = 0;i < tasks.length;i++) { %>
                <% if(tasks[i].task_status === "Review") { %>
                  <div class="task" style="display:flex">
                      <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                    <p id="<%=tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                    <select id="<%=tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                      <div style="width:33.33%">
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                </div>
                <div id="allTasksReview" hidden>
              <% for(var i = 0;i < all_tasks.length;i++) { %>
                <% if(all_tasks[i].task_status === "Review") { %>
                  <div class="task" style="display:flex">
                      <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=all_tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=all_tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=all_tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=all_tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=all_tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=all_tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                    <p id="<%=all_tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=all_tasks[i].forename%></b></p>
                    <select id="<%=all_tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                      <div style="width:33.33%">
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                </div>
                    </div>
                </div>
          <% } %>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#complete" style="width:100%; background-color: #fff; border-color: none;"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="complete_black.png"><p class="task_text">Complete</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="complete" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
                  <div id="myTasksComplete">
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "Complete") { %>
                    <div class="task" style="display:flex">
                      <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                    <p id="<%=tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                    <select id="<%=tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                      <div style="width:33.33%">
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                </div>
                <div id="allTasksComplete" hidden>
             <% for(var i = 0;i < all_tasks.length;i++) { %>
                    <% if(all_tasks[i].task_status === "Complete") { %>
                    <div class="task" style="display:flex">
                      <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=all_tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=all_tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=all_tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=all_tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=all_tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=all_tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                    <p id="<%=all_tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=all_tasks[i].forename%></b></p>
                    <select id="<%=all_tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                      <div style="width:33.33%">
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/block" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Block Task" class="icons" src="block.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                </div>
                    </div>
                </div>
          <% } %>
          <div class="flex-event-selected-item" >
            <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#blocked" style="width:100%; background-color: #fff; border-color: none;"><img style="height: 25px; float:right; margin: 0 0 0 0" class="icons" src="block_black.png"><p class="task_text">Blocked</p></button><br>
          </div>
          <% if(tasks.length){ %>
              <div class="flex-event-selected-item" >
                <div id="blocked" class="collapse" style="width:100%">
                  <div class="task" style="display:flex">
                    <p style="text-align:left; width:33.33%; margin: 10px 0 10px 0px">Name</p>
                    <p style="text-align:center; width:33.33%; margin: 10px 0 10px 0px">Assigned to</p>
                    <p style="text-align:right; width:33.33%; margin: 10px 0 10px 0px">Update Status</p>
                  </div>
                  <div id="myTasksBlocked">
             <% for(var i = 0;i < tasks.length;i++) { %>
                    <% if(tasks[i].task_status === "Blocked") { %>
                    <div class="task" style="display:flex">
                      <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                    <p id="<%=tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=tasks[i].forename%></b></p>
                    <select id="<%=tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                      <div style="width:33.33%">
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                </div>
                <div id="allTasksBlocked" hidden>
             <% for(var i = 0;i < all_tasks.length;i++) { %>
                    <% if(all_tasks[i].task_status === "Blocked") { %>
                    <div class="task" style="display:flex">
                      <form class="icon" method="POST" action="/saveTask" style="width:66.66%; display: flex">
                    <img id="<%=all_tasks[i].task_id%>_edit_icon" class="icons" style="float:left" src="edit.png">
                    <input type="image" id="<%=all_tasks[i].task_id%>_save_icon" alt="Save" class="icons" style="float:left" src="save.png" hidden>
                    <script>
                      document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").onclick = function () {
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_text").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_edit").type = "text";
                        document.getElementById("<%=all_tasks[i].task_id%>_edit_icon").hidden = true;
                        document.getElementById("<%=all_tasks[i].task_id%>_save_icon").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_assigned").hidden = false;
                        document.getElementById("<%=all_tasks[i].task_id%>_task_name_assigned").hidden = true;
                      };
                    </script>
                    <p id="<%=all_tasks[i].task_id%>_task_name_text" style="text-align:left; width:100%; margin: 10px 0 10px 0px"><%=all_tasks[i].task_name%></p>
                    <input type="hidden" name="task_name" id="<%=all_tasks[i].task_id%>_task_name_edit" style="text-align:left; width:33.33%; margin: 10px 0 10px 0px; padding: 0 0 0 0;" value="<%=all_tasks[i].task_name%>">
                    <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                    <p id="<%=all_tasks[i].task_id%>_task_name_assigned" style="text-align:center; width:100%; margin: 10px 0 10px 0px"><b><%=all_tasks[i].forename%></b></p>
                    <select id="<%=all_tasks[i].task_id%>_assigned" name="assigned" style="text-align:center; width:60%; margin: 10px 0 10px 0px; color:black;" hidden>
                      <% if(team.length){ 
                        for(var l = 0;l < team.length;l++) { %>
                          <option value="<%=team[l].ID%>" style="color:black;"><%=team[l].forename%> <%=team[l].surname%></option>
                      <% }}%>
                    </select> 
                  </form>
                      <div style="width:33.33%">
                      <form class="icon" action="/review" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Review Task" class="icons" src="review.png">
                      </form>
                      <form class="icon" action="/complete" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="Complete Task" class="icons" src="complete.png">
                      </form>
                      <form class="icon" action="/in-progress" method="POST">
                        <input type="hidden" name="task_id" value="<%=all_tasks[i].task_id%>">
                        <input type="image" alt="In Progress" class="icons" src="in-progress.png">
                      </form>
                    </div>
                    </div>
                  <% } } %>
                </div>
                    </div>
                </div>
          <% } %>
      </div>
    </div>
     <div class="menu_and_event">
      <div class="flex-event-selected-fotd">
        <div class="flex-event-selected-item">
          <h3>Flow of The Day</h3>
        </div>
        <div class="flex-event-selected-item" style="flex-direction: row" >
        <div class="flex-event-selected-item" >
          <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#newModule" style="width:98%; background-color: #fff; border-color: none;"><p class="task_text">New Module</p></button><br>
        </div>
                <div class="flex-event-selected-item" >
          <button type="button" class="btn btn-info select-event" data-toggle="collapse" data-target="#newBreakout" style="width:98%; background-color: #fff; border-color: none;"><p class="task_text">New Breakout</p></button><br>
        </div>
      </div>
      <div class="flex-event-selected-item" style="flex-direction: row" >
        <div class="flex-event-selected-item" style="width: 50%">
          <div id="newModule" class="collapse" style="width:100%">
            <div class="newModule">
              <form action="/newModule" method="POST">
                <p>Module Name</p>
                <input type="text" name="module_name" style="padding: 0 0 0 0; width: 100%; color:black;">
                <p>Module Leader:</p>
                <input type="text" name="module_leader" style="padding: 0 0 0 0; width: 100%; color:black;">
                <p>Module Location: </p>
                <input type="text" name="module_location" style="padding: 0 0 0 0; width: 100%; color:black;">
                <p>Module Start Time: </p>
                <input type="time" min="08:00" max="19:00" name="module_start_time" style="padding: 0 0 0 0; width: 100%; color:black;">
                <p>Module End Time: </p>
                <input type="time" min="08:00" max="19:00" name="module_end_time" style="padding: 0 0 0 0; width: 100%; color:black;">
                <% if(event.length){ %>
                <input type = "hidden" name = "event_id" value = "<%=event[0].event_id%>" style="padding: 0 0 0 0; width: 50%"/>
                <% } %>
                <input type="submit" class="select-event" style="padding: 0 0 0 0; width: 100%"> 
              </form>
            </div>
          </div>
        </div>

        <div class="flex-event-selected-item" style="width: 50%">
          <div id="newBreakout" class="collapse" style="width:100%">
            <div class="newBreakout">
              <form action="/newBreakout" method="POST">
                <p>Breakout Name</p>
                <input type="text" name="breakout_name" style="padding: 0 0 0 0; width: 100%; color:black;">
                <select name="module_id" style="text-align:center; width:100%; margin: 10px 0 10px 0px; color:black;">
                  <% if(modules.length){ 
                    for(var n = 0;n < modules.length;n++) { %>
                      <option value="<%=modules[n].module_id%>" style="color:black;"><%=modules[n].module_name%></option>
                  <% }}%>
                </select> 
                <input type="submit" class="select-event" style="padding: 0 0 0 0; width: 100%"> 
              </form>
            </div>
          </div>
        </div>
      </div>
        <% if(modules.length){ %>
          <div class="task" style="display:flex; border-bottom:solid 2px #fff">
            <p style="width:6%; margin: 10px 0 10px 0px"></p>
            <p style="width:19%; margin: 10px 0 10px 0px">Name</p>
            <p style="width:19%; margin: 10px 0 10px 0px">Location</p>
            <p style="width:19%; margin: 10px 0 10px 0px">Leader</p>
            <p style="width:19%; margin: 10px 0 10px 0px">Start Time</p>
            <p style="width:19%; margin: 10px 0 10px 0px">End Time</p>
          </div>
          <% for(var k = 0;k < modules.length;k++) { %>
          <form class="icon" method="POST" action="/saveModule" style="width:100%; display: flex">
            <div class="flex-event-selected-item">
             <div class="flex-event-selected-item module">
              <div class="flex-event-selected-item" style="width: 33.33%">
                <img id="<%=modules[k].module_id%>_mod_edit_icon" class="icons" style="float:left; height: 20px; margin: 8px 0 0 0;" src="edit.png">
                <input type="image" id="<%=modules[k].module_id%>_mod_save_icon" alt="Save" class="icons" style="float:left; height: 20px; margin: 8px 0 0 0;" src="save.png" hidden>
              </div>
              <script>
                document.getElementById("<%=modules[k].module_id%>_mod_edit_icon").onclick = function () {
                  document.getElementById("<%=modules[k].module_id%>_name_text").hidden = true;
                  document.getElementById("<%=modules[k].module_id%>_location_text").hidden = true;
                  document.getElementById("<%=modules[k].module_id%>_leader_text").hidden = true;
                  document.getElementById("<%=modules[k].module_id%>_start_text").hidden = true;
                  document.getElementById("<%=modules[k].module_id%>_end_text").hidden = true;
                  document.getElementById("<%=modules[k].module_id%>_name_edit").type = "text";
                  document.getElementById("<%=modules[k].module_id%>_location_edit").type = "text";
                  document.getElementById("<%=modules[k].module_id%>_leader_edit").type = "text";
                  document.getElementById("<%=modules[k].module_id%>_start_edit").type = "time";
                  document.getElementById("<%=modules[k].module_id%>_end_edit").type = "time";
                  document.getElementById("<%=modules[k].module_id%>_mod_edit_icon").hidden = true;
                  document.getElementById("<%=modules[k].module_id%>_mod_save_icon").hidden = false;
                };
              </script>
              <input type="hidden" name="module_id" value="<%=modules[k].module_id%>">
              <div class="flex-event-selected-item">
                <p id="<%=modules[k].module_id%>_name_text"><%=modules[k].module_name%></p>
                <input style="padding: 0 0 0 0;  height: 30px;  width: 95%; color:black;" type="hidden" name="module_name" id="<%=modules[k].module_id%>_name_edit" value="<%=modules[k].module_name%>">
              </div>
              <div class="flex-event-selected-item">
                <p id="<%=modules[k].module_id%>_location_text" class="moduleText"><%=modules[k].module_location%></p>
                <input style="padding: 0 0 0 0;  height: 30px;  width: 95%; color:black;" type="hidden" name="module_location" id="<%=modules[k].module_id%>_location_edit" value="<%=modules[k].module_location%>">
                </div>
              <div class="flex-event-selected-item">
                <p id="<%=modules[k].module_id%>_leader_text" class="moduleText"><%=modules[k].module_leader%></p>
                <input style="padding: 0 0 0 0;  height: 30px;  width: 95%; color:black;;" type="hidden" name="module_leader" id="<%=modules[k].module_id%>_leader_edit" value="<%=modules[k].module_leader%>">
                </div>
              <div class="flex-event-selected-item">
                <p id="<%=modules[k].module_id%>_start_text" class="moduleText"><%=modules[k].module_start_time%></p>
                <input style="padding: 0 0 0 0;  height: 30px;  width: 95%; color:black; margin: 8px 0;" type="hidden" name="module_start" id="<%=modules[k].module_id%>_start_edit" value="<%=modules[k].module_start_time%>">
                </div>
              <div class="flex-event-selected-item">
                <p id="<%=modules[k].module_id%>_end_text" class="moduleText"><%=modules[k].module_end_time%></p>
                <input style="padding: 0 0 0 0;  height: 30px;  width: 95%; color:black; margin: 8px 0;" type="hidden" name="module_end" id="<%=modules[k].module_id%>_end_edit" value="<%=modules[k].module_end_time%>">
              </div>
              </div>
          </div>
              </form>
          <div class="flex-event-selected-item breakouts">
            <div class="flex-event-selected-item breakout_line">
              <% for(var m = 0;m < breakouts.length;m++) { %>
                <% if(breakouts.length && breakouts[m].module_id === modules[k].module_id){ %>
                  <div class="flex-event-selected-item breakout">
                    <form class="icon" method="POST" action="/saveBreakout" style="width:100%; display: flex">
                    <div class="flex-event-selected-item" style="width: 20%">
                    <img id="<%=breakouts[m].breakout_id%>_brk_edit_icon" class="icons" style="float:left; height: 20px; margin: 8px 0 0 0;" src="edit.png">
                    <input type="image" id="<%=breakouts[m].breakout_id%>_brk_save_icon" alt="Save" class="icons" style="float:left; height: 20px; margin: 8px 0 0 0;" src="save.png" hidden>

                    
                    </div>
                    <div class="flex-event-selected-item">
                    <p id="<%=breakouts[m].breakout_id%>_brk_name_text" class="break"><%=breakouts[m].breakout_name%></p>

                    <input style="padding: 0 0 0 0;  height: 30px;  width: 95%; color:black" type="hidden" name="breakout_name" id="<%=breakouts[m].breakout_id%>_brk_name_edit" value="<%=breakouts[m].breakout_name%>">

                    <input type="hidden" name="breakout_id" value="<%=breakouts[m].breakout_id%>">

                    <script>
                    document.getElementById("<%=breakouts[m].breakout_id%>_brk_edit_icon").onclick = function () {
                      document.getElementById("<%=breakouts[m].breakout_id%>_brk_name_text").hidden = true;
                      document.getElementById("<%=breakouts[m].breakout_id%>_brk_name_edit").type = "text";
                      document.getElementById("<%=breakouts[m].breakout_id%>_brk_edit_icon").hidden = true;
                      document.getElementById("<%=breakouts[m].breakout_id%>_brk_save_icon").hidden = false;
                    };
                    </script>
                  </div>
                  </form>
                  </div>
                <% } %>
              <% } %>
            </div>
          </div>
        <% } } %>
      </div>
    <div class="flex-event-selected-notes">
        <div class="flex-event-selected-item">
          <h3>Notes/Other</h3>
        </div>
        <% if(info.length){ %>
        <div class="flex-event-selected-item">
          <form method="POST" action="/saveNotes" id="add_notes" style="width: 90%">
            <input type="hidden" name="request_type" value="UPDATE"></input>
            <input type="hidden" name="info_id" value="<%=info[0].info_id%>"></input>
            <input type="hidden" name="event_id" value="<%=info[0].event_id%>"></input>
            <input type="hidden" name="member_id" value="<%=info[0].member_id%>"></input>
            <textarea name="event_notes" form="add_notes" value="<%=info[0].event_notes%>" class="notes"><%=info[0].event_notes%></textarea>
            <br><br>
            <input type="submit" class="select-event" value="Save"></input>
          </form>
        </div>
          <% 
     }else{ %>
        <div class="flex-event-selected-item">
          <form method="POST" action="/saveNotes" id="add_notes" style="width: 90%">
            <input type="hidden" name="request_type" value="INSERT"></input>
            <% if(event.length){ %>
            <input type="hidden" name="event_id" value="<%=event[0].event_id%>"></input>
            <% } %>
            <textarea name="event_notes" form="add_notes" class="notes"></textarea>
            <br><br>
            <input type="submit" class="select-event" value="Save"></input>
          </form>
        </div>
      <% } %>
    </div>
    </div>
  </div>
</div>
 <div style="display: none">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>