<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<script> 
    $(function(){
      $("#header").load("header.html"); 
    });
    </script> 
    <div id="header"></div>
    <%   function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [year, month, day].join('-');
  } %>
  <form method="POST" action="/SaveEvent">
  <div class="flex-container-event-column">
        <div class="flex-item-selected-event">
          <h3><b>Event Name</b></h3>
          <input type="text" name="name" id="name" value="<%=data[0].event_name%>"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Start Date</b></h3>
          <input type="date" name="start" id="start" value="<%=formatDate(Date.parse(data[0].event_start_date))%>"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event End Date</b></h3>
          <input type="date" name="end" id="end" value="<%=formatDate(Date.parse(data[0].event_end_date))%>"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Description</b></h3>
          <input type="text" name="description" value="<%=data[0].event_description%>"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Client</b></h3>
          <input type="text" name="client" value="<%=data[0].event_client%>"></input>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Process Facilitator</b></h3>
          <select id="pf" name="pf">
            <% if(pf.length){ 
              for(var i = 0;i < pf.length;i++) { %>
              <option value="<%=pf[i].ID%>"><%=pf[i].forename%> <%=pf[i].surname%></option>
            <% }}%>
          </select>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Co Facilitator</b></h3>
          <select id="cf" name="cf">
            <% if(cf.length){ 
              for(var i = 0;i < cf.length;i++) { %>
              <option value="<%=cf[i].ID%>"><%=cf[i].forename%> <%=cf[i].surname%></option>
            <% }}%>
          </select>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Facilitator</b></h3>
          <select id="f" name="f">
            <% if(f.length){ 
              for(var i = 0;i < f.length;i++) { %>
              <option value="<%=f[i].ID%>"><%=f[i].forename%> <%=f[i].surname%></option>
            <% }}%>
          </select>        
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Co-Designer's</b></h3>
            <% if(cd.length){ 
              for(var i = 0;i < cd.length;i++) { %>
              <input type="checkbox" name="CoDesigner" value="<%=cd[i].ID%>">
              <label for="<%=cd[i].ID%>"><%=cd[i].forename%> <%=cd[i].surname%></label><br>
            <% }}%>
        </div>
        <input type = "hidden" name = "selected" value = "<%=data[0].event_id%>" />
        <div class="flex-item-event" >
          <input class="select-event" type="submit" value="Save">
        </div>
  </div>
</form>
<form action="/deleteEvent" method="POST">
  <div class="flex-container-event-column">
    <div class="flex-item-event" >
      <input type = "hidden" name = "selected" value = "<%=data[0].event_id%>" />
          <input class="select-event" type="submit" value="Delete Event">
        </div>
      </div>
</form>
  
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>
