<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<script> 
    $(function(){
      $("#header").load("header.html"); 
    });
    </script> 
    <div id="header"></div>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
   <div class="menu_and_event">
  <div class="flex-feedback-menu">
  <% if(feedback.length){ 
       for(var i = 0;i < feedback.length;i++) { %>
        <form method="POST" action="/selectfeedback">
            <input type = "hidden" name = "selected" value = "<%=feedback[i].feedback_id%>" />
            <div class="flex-feedback-menu-item">
              <% if(selected.length && feedback[i].feedback_id === selected[0].feedback_id) { %>
              <input style="background-color: white; color: black" class="select-feedback" type="submit" value="<%=feedback[i].event_name%> from <%=feedback[i].forename%> <%=feedback[i].surname%>"/>
              <% } else {%>
                <input class="select-feedback" type="submit" value="<%=feedback[i].event_name%> from <%=feedback[i].forename%> <%=feedback[i].surname%>"/>
              <% } %>
              
            </div>
        </form>
  <% }
     }else{ %>
      <div class="flex-feedback-menu">
          <div class="flex-feedback-menu-item"><p>No Feedback to Display</p></div>
      </div>
  <% } %>
  </div>
      <div class="flex-feedback-selected">
        <% if(selected.length){ 
        for(var i = 0;i < selected.length;i++) { %>
        <div class="flex-feedback-selected-item" >
          <h3>What you did well:</h3>
          </div>
          <div class="flex-feedback-selected-item" >
          <p><%=selected[i].did_well%></p>
        </div>
       <div class="flex-feedback-selected-item">
          <h3>What you did not do well:</h3>
          </div>
          <div class="flex-feedback-selected-item">
          <p><%=selected[i].not_well%></p>
        </div>
        <div class="flex-feedback-selected-item">
          <h3>What to improve on</h3>
          </div>
          <div class="flex-feedback-selected-item">
          <p><%=selected[i].improvements%></p>
        </div>
        <% }} else { %>
          <div class="flex-feedback-menu-item"><p>No Feedback to Display</p></div>
  <% } %>
      </div>
      <div class="flex-feedback-menu">
        <div class="flex-feedback-menu-item">
          <h3>Feedback Requests</h3>
          <% if(requests.length){ 
            for(var i = 0;i < requests.length;i++) { %>
              <form method="POST" action="/givefeedback">
              <h3><b>Please provide feedback for: <%=requests[i].event_name%> - <%=requests[i].forename%> <%=requests[i].surname%></b></h3>
              <p>What did they do well?</p>
              <input type="hidden" name="event_id" value="<%=requests[i].event_id%>"></input>
              <input type="hidden" name="requester_id" value="<%=requests[i].requester_id%>"></input>
              <input type="hidden" name="giver_id" value="<%=requests[i].giver_id%>"></input>
              <input type="hidden" name="request_id" value="<%=requests[i].request_id%>"></input>
              <input type="text" name="did_well"></input>
              <p>What did they not do well?</p>
              <input type="text" name="not_well"></input>
              <p>What improvements can be made?</p>
              <input type="text" name="improvements"></input>
            <div class="flex-feedback-menu-item">
              <button class="select-feedback" type="submit">Complete</button>
            </div>
          </form>
          <% }}%>
        </div> 
      </div>
      <div class="flex-feedback-menu">
        <div class="flex-feedback-menu-item" style="padding-right: 2%">
          <h3>Request feedback</h3>
          <form method="POST" action="/feedbackRequest">
            <h3><b>Event: </b></h3>
            <select id="feedback_event" name="feedback_event">
              <% if(events.length){ 
                for(var i = 0;i < events.length;i++) { %>
                <option value="<%=events[i].event_id%>"><%=events[i].event_name%></option>
              <% }}%>
            </select>    
            <h3><b>Request Feedback From: </b></h3>
            <select id="feedback_from" name="feedback_from">
              <% if(team.length){ 
                for(var i = 0;i < team.length;i++) { %>
                <option value="<%=team[i].ID%>"><%=team[i].forename%> <%=team[i].surname%></option>
              <% }}%>
            </select> 
            <div class="flex-feedback-menu-item">
              <button class="select-feedback" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
</body>
</html>
