<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
    <li><a href="#feedback">Feedback</a></li>
    <div class="dropdown">
    <button class="dropbtn">
      <li><a class="active" href="#events">Events</a></li>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/PastEvents">Past Events</a>
      <a href="/CurrentEvent">Current Event</a>
      <a href="/UpcomingEvents">Upcoming Events</a>
    </div>
  </div> 

  <li class="right"><a href="#Messages">Messages</a></li>
  <li class="right"><a href="#Encyclopedia">Encyclopedia</a></li>
  <li class="right"><a href="/logout">Logout</a></li>
</ul>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
  <form method="POST" action="/selected_event">
  <div class="flex-container">
      <% if(data.length){ 
        for(var i = 0;i < data.length;i++) { %>

        <input type = "hidden" name = "selected" value = "<%=data[i].event_id%>" />
                <div class="flex-item-event" >
              <input type="submit" value="View">
        </div>
        <div class="flex-item-event" >
          <p>Event Name</p>
          <p><%=data[i].event_name%></p>
        </div>
        <div class="flex-item-event">
          <p>Event Description</p>
          <p><%=data[i].event_description%></p>
        </div>
        <div class="flex-item-event">
          <p>Event Client</p>
          <p><%=data[i].event_client%></p>
        </div>
        <div class="flex-item-event">
          <p>Process Facilitator</p>
          <p><%=data[i].event_pf%></p>
        </div>
        <div class="flex-item-event">
          <p>Co Facilitator</p>
          <p><%=data[i].event_cofac%></p>
        </div>
        <div class="flex-item-event">
          <p>Facilitator</p>
          <p><%=data[i].event_fac%></p>
        </div>
        <% }
  }else{ %>
    <div class="flex-item-event">No Events to Display</div>
  <% } %>
  </div>
</form>

  <div class="flex-container">
      <% if(event_data.length){ 
        for(var i = 0;i < event_data.length;i++) { %>

        <input type = "hidden" name = "selected" value = "<%=data[i].event_id%>" />
                <div class="flex-item-event" >
              <input type="submit" value="View">
        </div>
        <div class="flex-item-event" >
          <p>Event Name</p>
          <p><%=event_data[i].event_name%></p>
        </div>
        <div class="flex-item-event">
          <p>Event Description</p>
          <p><%=event_data[i].event_description%></p>
        </div>
        <div class="flex-item-event">
          <p>Event Client</p>
          <p><%=event_data[i].event_client%></p>
        </div>
        <div class="flex-item-event">
          <p>Process Facilitator</p>
          <p><%=event_data[i].event_pf%></p>
        </div>
        <div class="flex-item-event">
          <p>Co Facilitator</p>
          <p><%=event_data[i].event_cofac%></p>
        </div>
        <div class="flex-item-event">
          <p>Facilitator</p>
          <p><%=event_data[i].event_fac%></p>
        </div>
        <% }
  }else{ %>
    <div class="flex-item-event">No Events to Display</div>
  <% } %>
  </div>
</body>
</html>
