<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
    <li><a href="#feedback">Feedback</a></li>
    <div class="dropdown">
    <button class="dropbtn">
      <li><a class="active" href="#events">Events</a></li>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/PastEvents">Past Events</a>
      <a href="/CurrentEvent">Current Event</a>
      <a href="/UpcomingEvents">Upcoming Events</a>
    </div>
  </div> 

  <li class="right"><a href="#Messages">Messages</a></li>
  <li class="right"><a href="#Encyclopedia">Encyclopedia</a></li>
  <li class="right"><a href="/logout">Logout</a></li>
</ul>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
  <div class="flex-container">
      <% if(data.length){ 
        for(var i = 0;i < data.length;i++) { %>
        <div class="flex-item" name="<%=data[i].event_id%>">
          <p>Event ID</p>
          <a href="/selected_event"><p><%=data[i].event_id%></p></a>
        </div>
        <div class="flex-item" name="<%=data[i].event_name%>">
          <p>Event Name</p>
          <a href="/selected_event"><p><%=data[i].event_name%></p></a>
        </div>
        <div class="flex-item" name="<%=data[i].event_description%>">
          <p>Event Description</p>
          <a href="/selected_event"><p><%=data[i].event_description%></p></a>
        </div>
        <div class="flex-item" name="<%=data[i].event_client%>">
          <p>Event Client</p>
          <a href="/selected_event"><p><%=data[i].event_client%></p></a>
        </div>
        <div class="flex-item" name="<%=data[i].event_pf%>">
          <p>Process Facilitator</p>
          <a href="/selected_event"><p><%=data[i].event_pf%></p></a>
        </div>
        <div class="flex-item" name="<%=data[i].event_cofac%>">
          <p>Co Facilitator</p>
          <a href="/selected_event"><p><%=data[i].event_cofac%></p></a>
        </div>
        <div class="flex-item" name="<%=data[i].event_fac%>">
          <p>Facilitator</p>
          <a href="/selected_event"><p><%=data[i].event_fac%></p></a>
        </div>
        <% }
  }else{ %>
    <div class="flex-item">No Events</td>
  <% } %>
  </div>
  <table border="1" cellpadding="7" cellspacing="7">
  <tr>
    <th>Event ID</th>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Event Client</th>
    <th>Event Process Facilitator</th>
    <th>Event Co-Facilitator</th>
    <th>Event Facilitator</th>
  </tr>
  <% if(data.length){ 
    for(var i = 0;i < data.length;i++) { %>
  <tr>
    <td name="<%=data[i].event_id%>"><%=data[i].event_id%></td>
    <td><%=data[i].event_name%></td>
    <td><%=data[i].event_description%></td>
    <td><%=data[i].event_client%></td>
    <td><%=data[i].event_pf%></td>
    <td><%=data[i].event_cofac%></td>
    <td><%=data[i].event_fac%></td>
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No Events</td>
  </tr>
<% } %>
</table>
</body>
</html>
