<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<script> 
    $(function(){
      $("#header").load("header.html"); 
    });
    </script> 

<div class="menu_and_event">
	<div class="flex-event-menu" style="width: 100%">
  		<% if(data.length){ 
       		for(var i = 0;i < data.length;i++) { %>
        		<h3>Forename</h3>
        		<p><%=data[i].forename%></p>
        		<h3>Surname</h3>
        		<p><%=data[i].surname%></p>
        		<h3>Delivery Role</h3>
        		<p><%=data[i].delivery_role%></p>
        		<h3>Internal Role</h3>
        		<p><%=data[i].internal_role%></p>
        		<h3>Key Skills</h3>
        		<p><%=data[i].key_skills%></p>
        		<h3>Interests</h3>
        		<p><%=data[i].interests%></p>
        		<h3>Heroes</h3>
        		<p><%=data[i].heroes%></p>
        		<h3>Desired Delivery Role</h3>
        		<p><%=data[i].desired_delivery_role%></p>
       		<% }
   		} %>
    <div class="flex-event-selected">
  </div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>
