<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <div class="menu_dropdown">
    <button class="dropbtn">
      <li><a class="active" href="#events">Events</a></li>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/PastEvents">Past Events</a>
      <a href="/CurrentEvent">Current Event</a>
      <a href="/UpcomingEvents">Upcoming Events</a>
    </div>
  </div> 

  <li class="right"><a href="#Messages">Messages</a></li>
  <li class="right"><a href="#Encyclopedia">Encyclopedia</a></li>
  <li class="right"><a href="/logout">Logout</a></li>
</ul>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
  <div class="menu_and_event">
  <div class="flex-event-menu">
    <% if(upcoming === "True") { %>
        <form method="" action="/CreateEvent">
          <div class="flex-event-menu-item">
            <input class="select-event" value="Create New Event" type="submit"/>
          </div>
        </form>
      <% } else {
    }
   if(events.length){ 
       for(var i = 0;i < events.length;i++) { %>    
        <form method="POST" action="/selected_event">
            <input type = "hidden" name = "selected" value = "<%=events[i].event_id%>" />
            <input type = "hidden" name = "status" value = "<%=events[i].event_status%>" />
            <div class="flex-event-menu-item">
              <% if(events[i].event_id === data[0].event_id) { %>
              <input style="background-color: white; color: black" class="select-event" type="submit" value="<%=events[i].event_name%>"/>
              <% } else {%>
              <input class="select-event" type="submit" value="<%=events[i].event_name%>"/>
              <% } %>
            </div>
        </form>
       <%}
     }else{ %>
        <div class="flex-event-menu">
          <div class="flex-event-menu-item">No Events to Display</div>
        </div>
  <% } %>
            </div>
    <div class="flex-event-selected">
    <% if(data.length){ 
        for(var i = 0;i < data.length;i++) { %>
        <div class="flex-event-selected-item" >
          <h3>Event Name</h3>
          </div>
          <div class="flex-event-selected-item" >
          <p><%=data[i].event_name%></p>
        </div>
       <div class="flex-event-selected-item">
          <h3>Event Description</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=data[i].event_description%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Event Client</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=data[i].event_client%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Process Facilitator</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=data[i].event_pf%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Co Facilitator</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=data[i].event_cofac%></p>
        </div>
        <div class="flex-event-selected-item">
          <h3>Facilitator</h3>
          </div>
          <div class="flex-event-selected-item">
          <p><%=data[i].event_fac%></p>
        </div> 
                <% if(role === "Co-Designer") { %>
                <input id="edit" type="submit" value="Edit" hidden> 
       <% } else { %>
           <form method="POST" action="/EditSelectedEvent">
        <input type = "hidden" name = "status" value = "<%=data[0].event_status%>" />
        <input type = "hidden" name = "selected" value = "<%=data[0].event_id%>" />
        <div class="flex-item-event" >
          <input id="edit" type="submit" value="Edit"> 
        </div>
      </form>
        <% } %>
        <% }} else { %>
    <div class="flex-event-selected-item"><p>No Event Selected</p></div>
  <% } %>
  </div>
</div>
</body>
</html>
