<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
    <li><a href="#feedback">Feedback</a></li>
    <div class="dropdown">
    <button class="dropbtn">
      <li><a class="active" href="#events">Events</a></li>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/PastEvents">Past Events</a>
      <a href="/CurrentEvent">Current Event</a>
      <a href="/UpcomingEvents">Upcoming Events</a>
    </div>
  </div> 

  <li class="right"><a href="#Messages">Messages</a></li>
  <li class="right"><a href="#Encyclopedia">Encyclopedia</a></li>
  <li class="right"><a href="/logout">Logout</a></li>
</ul>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
  <div class="flex-container-event-column">
        <div class="flex-item-selected-event">
          <h3><b>Event Name</b></h3>
          <p><%=data[0].event_name%></p>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Description</b></h3>
          <p><%=data[0].event_description%></p>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Event Client</b></h3>
          <p><%=data[0].event_client%></p>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Process Facilitator</b></h3>
          <p><%=data[0].event_pf%></p>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Co Facilitator</b></h3>
          <p><%=data[0].event_cofac%></p>
        </div>
        <div class="flex-item-selected-event">
          <h3><b>Facilitator</b></h3>
          <p><%=data[0].event_fac%></p>
        </div>
  </div>
</body>
</html>
